/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none       &none             &kp W           &kp F               &kp P           &kp B          &kp J           &kp L            &kp U            &kp Y                &none              &none
&caps_word  &mt LEFT_SHIFT A  &mt LEFT_ALT R  &mt LEFT_CONTROL S  &mt LEFT_GUI T  &kp G          &kp K           &mt RIGHT_GUI N  &mt RIGHT_ALT E  &mt RIGHT_CONTROL I  &mt RIGHT_SHIFT O  &none
&kp LSHFT   &mt LEFT_GUI X    &kp C           &kp D               &kp V           &kp Z          &kp M           &kp H            &kp COMMA        &kp DOT              &kp FSLH           &none
                                              &kp LGUI            &mo 1           &lt 2 SPACE    &kp LEFT_SHIFT  &mo 3            &kp RALT
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &kp N0  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans    &trans    &trans     &trans  &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans     &kp LS(LC(TAB))  &kp LC(LSHFT)  &kp LC(TAB)  &trans       &kp F10  &kp F7    &kp F8    &kp F9  &trans  &trans
&trans  &kp RET    &kp LEFT         &kp DOWN       &kp RIGHT    &trans       &kp F11  &kp F4    &kp F5    &kp F6  &trans  &trans
&trans  &kp LSHFT  &kp LG(C)        &kp LG(X)      &kp LG(V)    &kp LG(Z)    &kp F12  &kp F1    &kp F2    &kp F3  &trans  &trans
                                    &trans         &trans       &trans       &trans   &kp LGUI  &kp LALT
            >;
        };

        sym_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
